* {
    box-sizing: border-box;
    margin: 0;
}

.first-page-design {
    margin: 0; 
    padding: 0; 
    background-image: url('assets/pinkmoon.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;

}

.logged-in-design {
    background-color: rgb(200, 175, 185);
    margin: 0;
    padding: 0; 
}

.heading {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 30px 220px 10px 270px;
    font-size: 4rem;

}

.quote-heading {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.author-heading {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-form {
    display: flex;
    flex-direction: column;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.save-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-family: "Tenor Sans", serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(242, 206, 212);
}

.title, .content-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0px 5px 0px;
    font-weight: bold;
    font-size: 18px;
}

.title-box, .review-box {
    border-radius: 5px;
}

.title-box {
    width: 24vw;
}

.review-box {
    width: 45vw;
    height: 20vh;
}

.title, .content-title {
    font-family: "Tenor Sans", serif;
    text-align: left;
}

.review-heading {
    font-family: "Tenor Sans", serif;
    font-weight: bold;
    border-bottom: 2px solid #000; 
    padding-bottom: 5px;
}

.review-wrapper {
    border: 3px solid black;
    padding: 7px;
    margin: 5px;
    width: 35vw;
    text-align: center;
}

.hidden {
    display: none;
}

.section-login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 50vh;
}

.logged-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Tenor Sans", serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(242, 206, 212);
}

.edit-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Tenor Sans", serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(179, 155, 159);
    margin-top: 5px;
}

.update-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Tenor Sans", serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(242, 206, 212);
    margin-top: 5px;

}

.delete-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Tenor Sans", serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(179, 155, 159);
    margin-right: 10px;
    margin-top: 5px;
}

.login-button:hover {
    background-color: rgb(192, 144, 152);
}

.show-reviews-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Tenor Sans", serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(242, 206, 212);
    margin-right: 10px;
}

.new-review-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Tenor Sans", serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(242, 206, 212);
}

.review-nav {
    display: flex;
    justify-content: flex-end;
  }

  .review-article {
    font-family: 'EB Garamond', sans serif;
  }
  